* {
    background-color: black;
}
.body{
    margin-left: 35%;
    margin-top: 10%;
}
.resultBar{
    color: white;
    height: 50px;
}
.result{
    font-size: 33px;
    color:white;
    text-align: right;
    width: 32%;

}
.table{
    width: 15%;
}

.button1{
    border-radius: 50px;
    height: 60px;
    width: 70px;
    background-color:gainsboro;
    border: none;

}
.button2{
    border-radius: 50%;
    height: 60px;
    width: 60px;
    background-color: orange;
    border: none;
    color : white;
}
.button3{
    border-radius: 50px;
    height: 60px;
    width: 60px;
    background-color: gray;
    border: none;
    color : white;
    font-size: 33px;

}
.zero{
    width: 150px;
}
button:focus{
    outline: none;
}